doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../css/main.css")
        title Document
    body 

        //- Header Start

        header.header 
            .container.header_container 
                .logo 
                    a.logo_link(href="#")
                        img.logo_img(src="../assets/logos/logo.svg" alt="") 

                nav.navbar 
                    ol.nav_list 
                        li.list_item Home
                        li.list_item Services
                        li.list_item Pricing
                        li.list_item Contack

                .header_right   
                    .right_btns 
                        button.default_btn Sign up 
                        button.colored_btn  Login

        //- Header End



        //- Main Start
        main 
            
            //- Hero Start
            section.hero
                .container.hero_container 
                    .hero_row
                        .hero_col   
                            .hero_top_btn 
                                button.hero_btn exsplore the world

                            .hero_title 
                                h1 Explore The Natural
                                    | Beauty Of Halmahera
                                    | With Us

                                p explore the beauty of god's earth in a beautiful forest and have fun

                            .hero_bottom_btn 
                                button.hero_btn_colored Exsplore Now

                        .hero_col
                            .hero_img 
                                img(src="../assets/imgs/girl.png" alt="")
            //- Hero End

            //- Services Start
            section.services 
                .container.services_container 
                    .services_row 
                        .services_col 
                            .services_title     
                                p.top_text Choice Of 
                                h2 Destinations
                                p.bottom_text explore the beauty of god's earth in a beautiful forest and have fun  

                            .services_bottom_btn    
                                button.services_btn_colored Exsplore Now 

                        .services_col
                            .services_imgs 
                                img(src="../assets/logos/img1.svg" alt="")
                                img(src="../assets/logos/img2.svg" alt="")
                                img(src="../assets/logos/img3.svg" alt="")
            //- Services End


            //- Pricing Start
            section.pricing 
                .container.pricing_container 
                    .pricing_row 
                        .pricing_col
                            img(src="../assets/logos/pricing_img.svg" alt="")
                        .pricing_col
                            
                            .pricing_title 
                                h2 What do customers say about us?

                                .pricing_img
                                    .img_box 
                                        img(src="../assets/imgs/pricing_img.png" alt="")
                                    .text 
                                        b Alpanasap
                                        p.pricing_parag Japung, Indonesia

                                        P.pricing_bottom_parag Very satisfying service makes it comfortable, a beautiful place in the world. 
                            
                            .pricing_stars 
                                img(src="../assets/logos/star_fill.png", alt="")
                                img(src="../assets/logos/star_fill.png", alt="")
                                img(src="../assets/logos/star_fill.png", alt="")
                                img(src="../assets/logos/star.png", alt="")
                                img(src="../assets/logos/star.png", alt="")
            //- Pricing End


            //- About Start
            section.about 
                .container.about_container 
                    .about_box

                        .about_title    
                            h2 Prepare Yourself And
                               |Start Exploring With Us.
                            
                            p There's the best discount for you today.

                        .about_btn 
                            button.colored_btn Get Started
            //- About End


            //- Contact Start
            section.contact     
                .container.contact_container 
                    .contact_title 
                        h2 Subscribe
                         |To Our Newsletter

                    form.contact_form(action="#")
                        input(type="email", placeholder= "Yourmail@mail.com", required)
                        button.colored_btn Subscribe
                    
            //- Contact End
        //- Main End    



        //- Footer Start
        footer.footer 

            .container.footer_container 

                .footer_logo    
                    img(src="../assets/logos/footer_logo.png", alt="")

                .navbar     
                    ol.nav_list 
                       li.list_item Home
                       li.list_item Services
                       li.list_item Pricing
                       li.list_item Contack



                .footer_right   
                    .right_btns 
                        button.default_btn(style="color: black;") Sign up 
                        button.colored_btn  Login

            
        //- Footer End



